<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Form</title>
    <link href="/static/appointment.css" rel="stylesheet" type="text/css" >
</head>
<body>

<nav id="navbar">
    <div id="logo-container">
        <img src="/static/image/img_1.png" id="logo" alt="logo">
    </div>
    <ul>
        <li><a href="UserPage">Home Page</a></li>
        <li><a href="/appointment">Appointment</a></li>
        <!--        <li><a href="/change">Change appointmment</a></li>-->
        <li><a href="/view">View appointmment</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
    <img id="nav-control" onclick="toggleNavbar()"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAARUlEQVR4nO3TOwoAIAwE0dz/WHqoTSptJYWIhR+YB+kCW40ZcEJIbbxnhl2q+Wf1XKq3hsv2MLAt6DihY/wn6DihY8AmOrJBLqA7C45ZAAAAAElFTkSuQmCC">
</nav>
<div id="appointment">


    <h1>Appointment now!</h1>
    <h3>User Email: <span id="user-email"></span></h3>
    <div id="error-message"></div>
    <form id="appointment-form">
        <div id="trainers">
            <label for="choosetrainer">Trainer:</label>
            <select name="trainer" id="trainer" required>
                <option value="trainer1">trainer1</option>
                <option value="trainer2">trainer2</option>
                <option value="trainer3">trainer3</option>
            </select>
        </div>
        <div id="datetimes">
            <label for="datetime">Date and Time:</label>
            <input type="datetime-local" id="datetime" name="datetime" required>
        </div>
        <div id="duration">
            <label for="duration">Duration:</label>
            <input type="number" id="duration_input" name="duration" min="1" required>
            <select name="duration_unit" id="duration_unit" required>
                <option value="hours">Hours</option>
            </select>
        </div>
        <div id="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>

<script>
    function getCurrentDateTime() {
        var now = new Date();
        var year = now.getFullYear();
        var month = (now.getMonth() + 1).toString().padStart(2, '0'); // Months are zero based
        var day = now.getDate().toString().padStart(2, '0');
        var hours = now.getHours().toString().padStart(2, '0');
        var minutes = now.getMinutes().toString().padStart(2, '0');

        // Format: YYYY-MM-DDTHH:MM
        return `${year}-${month}-${day}T${hours}:${minutes}`;
    }

    fetch('/getUserData')
        .then(response => response.json()) // Parse JSON response
        .then(data => {
            const userEmail=data.userEmail;
            document.getElementById('user-email').textContent=userEmail
            // 在这里继续执行获取训练师数据的逻辑
            fetch('/api/trainerbyemail/' + userEmail)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Failed to fetch trainers');
                    }
                    return response.json();
                })
                .then(trainers => {
                    // 获取到训练师数据后，填充到<select>元素中
                    const trainerSelect = document.getElementById('trainer');
                    trainerSelect.innerHTML = ''; // 清空原有的选项

                    // 循环遍历训练师数组，并将每个训练师信息添加到<select>元素中
                    trainers.forEach(trainer => {
                        const option = document.createElement('option');
                        option.value = trainer.trainerId; // 使用trainerId作为值
                        option.textContent = trainer.trainerName; // 使用trainerName作为显示文本
                        trainerSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error fetching trainers:', error);
                });

            // 处理获取到的用户数据
            getUserByEmail(data.userEmail)
                .then(user => { // 处理获取到的用户对象
                    // 在这里执行基于用户对象的操作
                    document.getElementById('appointment-form').addEventListener('submit', function (event) {
                        event.preventDefault(); // 阻止表单默认提交行为


                        // var selectedTrainerId = document.getElementById('trainer').value;

                        // 获取表单中的值
                        var trainerId = document.getElementById('trainer').value;

                        gettrainerByid(trainerId)
                            .then(trainer => {
                                var datetime = document.getElementById('datetime').value;
                                var localDatetimeString = datetime.toLocaleString();
                                var duration = parseInt(document.getElementById('duration_input').value);

                                // 构建表单数据
                                var formData = {
                                    user: user,
                                    trainer: trainer, // 使用选择的训练师ID
                                    appointmentTime: localDatetimeString,
                                    duration: duration, // 将持续时间和单位合并
                                    createTime: getCurrentDateTime() // Add create-time with current time
                                };


                                // 发送 POST 请求将数据提交给服务器
                                fetch('/api/submit', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(formData)
                                })
                                    .then(response => {
                                        if (response.ok) {
                                            // 处理成功响应
                                            console.log('Appointment submitted successfully!');
                                            // 在此处可以添加一些反馈或重定向用户到其他页面
                                        } else {
                                            // 处理错误响应
                                            console.error('Failed to submit appointment:', response.status);
                                            // 在此处可以添加一些错误处理逻辑
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error submitting appointment:', error);
                                        // 在此处可以添加一些错误处理逻辑
                                    });
                            });
                    })
                })
                .catch(error => {
                    console.error('Error fetching user:', error);
                });
        })
        .catch(error => {
            console.error('Error fetching user data:', error);
        });

    fetch('/trainerbyemail/' + userEmail)
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to fetch trainers');
            }
            return response.json();
        })
        .then(trainers => {
            // 获取到训练师数据后，填充到<select>元素中
            const trainerSelect = document.getElementById('trainer');
            trainerSelect.innerHTML = ''; // 清空原有的选项

            // 循环遍历训练师数组，并将每个训练师信息添加到<select>元素中
            trainers.forEach(trainer => {
                const option = document.createElement('option');
                option.value = trainer.trainerId; // 使用trainerId作为值
                option.textContent = trainer.trainerName; // 使用trainerName作为显示文本
                trainerSelect.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error fetching trainers:', error);
        });


    function gettrainerByid(id) {
        return new Promise((resolve, reject) => {
            fetch('/gettrainerbyid/' + id)
                .then(response => response.json())
                .then(trainer => {
                    // console.log('User data:', user);
                    resolve(trainer); // 返回解析后的用户数据
                })
                .catch(error => {
                    reject('Error fetching user: ' + error);
                });
        });
    }



    function getUserByEmail(email) {
        return new Promise((resolve, reject) => {
            fetch('/getUserByEmail/' + email)
                .then(response => response.json())
                .then(user => {
                    // console.log('User data:', user);
                    resolve(user); // 返回解析后的用户数据
                })
                .catch(error => {
                    reject('Error fetching user: ' + error);
                });
        });
    }

</script>

</body>
</html>
