<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/view.css" rel="stylesheet" type="text/css" >

</head>
<body>


<nav id="navbar">
    <div id="logo-container">
        <img src="/static/image/img_1.png" id="logo" alt="logo">
    </div>
    <ul>
        <li><a href="/home">Home Page</a></li>
        <li><a href="/appointment">Appointment</a></li>
        <li><a href="/view">View appointmment</a></li>

    </ul>
</nav>
</body>
</html>