<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Email Verification - Fitness</title>
<link rel="stylesheet" href="passwordStyle.css">
</head>
<body>

<header>
    <h1>Fitness</h1>
    <hr>
</header>

<main>
    <h3>Create Account</h3>

    <section class="create-password">
        <p>3/3 step</p>
        <h2>Create Password </h2>

        <form id="create-password-form">

            <div class="enter-password newpassword">
                <label for="password">Create your password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password"  required>
                <p class="password-requirements">Password must : <br>
                      * Be at least 8 characters long<br> 
                      * Include<br>
                         - An uppercase letter<br>
                         - A lowercase character<br>
                         - A number<br>
                         - A special character.</p>
            </div>
            
            <div class="enter-password confirm">
                <label for="confirm-password">Confirm your password</label>
                <input type="password" id ="confirm-password" name="confrim-password" placeholder ="Confirm Password" required>
            </div>

            <div class="continue-button">
                <button type="submit" id="continue">Continue</button>
            </div>
        
        </form>

    </section>
</main>

</body>
</html>
