<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/view.css" rel="stylesheet" type="text/css" >
</head>
<body>
<nav id="navbar">
    <div id="logo-container">
        <img src="/static/image/img_1.png" id="logo" alt="logo">
    </div>
    <ul>
        <li><a href="/home">Home Page</a></li>
        <li><a href="/appointment">Appointment</a></li>
        <li><a href="/view">View appointment</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<div id="container1">
    <h2>My Appointments</h2>
    <table class="appointment-table" id="appointmentTable">
        <thead>
        <tr>
            <th>Start time</th>
            <th>Duration</th>
            <th>End time</th>
            <th>trainer</th>
            <th>action</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody id="appointmentBody">
        <!-- Appointment items will be added here using JavaScript -->
        </tbody>
    </table>
</div>



<div class="modal" id="editAppointmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" id="X" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editAppointmentForm">
                    <div id="trainers">
                        <label for="choosetrainer">Trainer:</label>
                        <select name="trainer" id="trainer1" required>
                            <option value="trainer1">trainer1</option>
                            <option value="trainer2">trainer2</option>
                            <option value="trainer3">trainer3</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="editStartDateTime">Start Date</label>
                        <input type="date" id="myDate1">
                        <br>
                        <label for="editStartDateTime">Start Time</label>

                        <select id="startTimeSelect">
                            <option value="09:00">09:00</option>
                            <option value="10:00">10:00</option>
                            <option value="11:00">11:00</option>
                            <option value="12:00">12:00</option>
                            <option value="13:00">13:00</option>
                            <option value="14:00">14:00</option>
                            <option value="15:00">15:00</option>
                            <option value="16:00">16:00</option>
                            <option value="17:00">17:00</option>
                            <!-- 添加更多时间选项 -->
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="editDuration">Duration (in minutes):</label>
                        <select id="durationSelect1">
                            <!--                <option value="0.5">0.5小时</option>-->
                            <option value="1">1 hour</option>
                            <option value="2">2 hour</option>
                            <option value="3">3 hour</option>
                            <!-- 添加更多持续时间选项 -->
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="saveEditAppointmentBtn">Save Changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    var cancelButton1=  document.getElementById("X");
    var cancelButton2 = document.querySelector("#editAppointmentModal .modal-footer button[data-dismiss='modal']");
    cancelButton2.addEventListener("click", function() {
        var modal = document.getElementById("editAppointmentModal");
        modal.style.display = "none";
    });
    cancelButton1.addEventListener("click", function() {
        var modal = document.getElementById("editAppointmentModal");
        modal.style.display = "none";
    });
    var modal = document.getElementById("editAppointmentModal");
    modal.style.display = "none";
    // 监听按钮点击事件，显示编辑预约模态框
    document.getElementById('showEditAppointmentModalBtn').addEventListener('click', function() {
        showEditAppointmentModal();
    });

    document.getElementById("saveEditAppointmentBtn").addEventListener("click", function() {


        modal.style.display = "none";
    });


    // 显示编辑预约模态框

</script>

<script src="/static/view.js"></script>
<!--<script>-->
<!--    var username = localStorage.getItem("username"); // 获取当前用户的用户名-->
<!--    fetch('/appointments/views/' + username)-->
<!--        .then(response => {-->
<!--            if (!response.ok) {-->
<!--                throw new Error('Network response was not ok');-->
<!--            }-->
<!--            return response.json();-->
<!--        })-->
<!--        .then(appointments => {-->
<!--            displayAppointment(appointments);-->
<!--        })-->
<!--        .catch(error => {-->
<!--            console.error('There was a problem with the fetch operation:', error);-->
<!--        });-->

<!--    // 将预约信息显示在表格中-->
<!--    function displayAppointment(appointments) {-->
<!--        var appointmentBody = document.getElementById("appointmentBody");-->
<!--        appointments.forEach(appointment => {-->
<!--            var row = document.createElement("tr");-->
<!--            row.innerHTML = "<td>" + appointment.date + "</td>" +-->
<!--                "<td>" + appointment.time + "</td>" +-->
<!--                "<td>" + appointment.trainer + "</td>" +-->

<!--                "<td><button onclick='editAppointment(\"" + appointment.id + "\", \"" + appointment.date + "\", \"" + appointment.time + "\", \"" + appointment.trainer + "\")'>Edit</button></td>"+-->
<!--            "<td><button onclick='cancelAppointment(\"" + appointment.id + "\")'>Cancel</button></td>"; // Add c-->
<!--            appointmentBody.appendChild(row);-->
<!--        });-->
<!--    }-->

<!--    // 编辑预约信息-->
<!--    function editAppointment(id, date, time, trainer) {-->
<!--        var newRow = document.createElement("tr");-->
<!--        newRow.innerHTML = "<td><input type='text' id='newDate' value='" + date + "'></td>" +-->
<!--            "<td><input type='text' id='newTime' value='" + time + "'></td>" +-->
<!--            "<td><input type='text' id='newTrainer' value='" + trainer + "'></td>" +-->
<!--            "<td><button onclick='updateAppointment(\"" + id + "\")'>Update</button></td>";-->

<!--        var oldRow = document.getElementById("appointmentBody").querySelector("tr");-->
<!--        oldRow.parentNode.replaceChild(newRow, oldRow);-->
<!--    }-->

<!--    // 更新预约信息-->
<!--    function updateAppointment(id) {-->
<!--        var newDate = document.getElementById("newDate").value;-->
<!--        var newTime = document.getElementById("newTime").value;-->
<!--        var newTrainer = document.getElementById("newTrainer").value;-->

<!--        var updateData = {-->
<!--            id: id,-->
<!--            date: newDate,-->
<!--            time: newTime,-->
<!--            trainer: newTrainer-->
<!--        };-->

<!--        fetch('/appointments/update', {-->
<!--            method: 'POST',-->
<!--            headers: {-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            body: JSON.stringify(updateData)-->
<!--        })-->
<!--            .then(response => {-->
<!--                if (!response.ok) {-->
<!--                    throw new Error('Network response was not ok');-->
<!--                }-->
<!--                location.reload(); // This will refresh the page-->
<!--                // return response.json();-->

<!--            })-->
<!--            .then(updatedAppointment => {-->
<!--                // 更新成功后重新加载预约信息-->
<!--                // fetchAppointments();-->
<!--                location.reload(); // This will refresh the page-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('There was a problem with the fetch operation:', error);-->
<!--            });-->
<!--    }-->
<!--    function cancelAppointment(id) {-->
<!--        fetch('/appointments/delete/' + id, {-->
<!--            method: 'DELETE'-->
<!--        })-->
<!--            .then(response => {-->
<!--                if (!response.ok) {-->
<!--                    throw new Error('Network response was not ok');-->
<!--                }-->
<!--                location.reload(); // This will refresh the page-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('There was a problem with the fetch operation:', error);-->
<!--            });-->
<!--    }-->

<!--    // // 重新加载预约信息-->
<!--    // function fetchAppointments() {-->
<!--    //     fetch('/appointments/views/' + username)-->
<!--    //         .then(response => {-->
<!--    //             if (!response.ok) {-->
<!--    //                 throw new Error('Network response was not ok');-->
<!--    //             }-->
<!--    //             return response.json();-->
<!--    //         })-->
<!--    //         .then(appointments => {-->
<!--    //             var appointmentBody = document.getElementById("appointmentBody");-->
<!--    //             appointmentBody.innerHTML = ""; // 清空表格内容-->
<!--    //             displayAppointment(appointments);-->
<!--    //         })-->
<!--    //         .catch(error => {-->
<!--    //             console.error('There was a problem with the fetch operation:', error);-->
<!--    //         });-->
<!--    // }-->
<!--</script>-->
</body>
</html>

