<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <title>Appointments Management</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="text-center my-4">Appointments Administrator Management</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th>Overall details:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Total Number of Appointments in Recent One Month:</td>
                    <td th:text="${NoAppointmentThirty}"></td>
                  </tr>
                  <tr>
                    <td>Average Number of Appointments Per Trainer in Recent One Month:</td>
                    <td th:text="${avgTrainerAppNoThirty}"></td>
                  </tr>
                  <tr>
                    <td>Average Rating in Recent One Month</td>
                    <td th:text="${AvgRatingThirty}"></td>
                  </tr>

                  <tr>
                    <td>Total Number of Appointments in Current Year:</td>
                    <td th:text="${NoAppointmentYear}"></td>
                  </tr>
                  <tr>
                    <td>Average Number of Appointments Per Trainer in Current Year:</td>
                    <td th:text="${avgTrainerAppNoYear}"></td>
                  </tr>
                  <tr>
                    <td>Average Rating in Current Year</td>
                    <td th:text="${AvgRatingYear}"></td>
                  </tr>
                </tbody>
              </table>
              
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>

              <a class="btn btn-primary" href="/Appointments_Management/create">Add Appointment</a>
              <p>
                <h2>Details:</h2>
              </p>

              <table class="table">
                <thead>
                  <tr>
                    <th>Appointment ID</th>
                    <th>Customer</th>
                    <th>Trainer</th>
                    <th>Status</th>
                    <th>Rating</th>
                    <th>Appointment Time</th>
                    <th>Time of Creation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="Appointment: ${Appointments}">
                    <td th:text="*{Appointment.id}"></td>
                    <td th:text="${Appointment.getUser().getuserName()}"></td>
                    <td th:text="${Appointment.getTrainer().gettrainerName()}"></td>
                    <th th:text="${Appointment.getStatusText()}"></th>
                    <td th:text="*{Appointment.rating}"></td>
                    <td th:text="*{Appointment.getTimeInterval()}"></td>
                    <td th:text="*{Appointment.getFormattedCreateTime()}"></td>
                    <td style="white-space: nowrap">
                      <a class="btn btn-primary btn-sm" 
                        th:href="@{/Appointments_Management/update(id=*{Appointment.id})}">Edit</a>
                        <a class="btn btn-primary btn-sm" 
                        th:href="@{/Appointments_Management/delete(id=*{Appointment.id})}"
                        onclick="return confirm('Confirm Delete?')">Delete</a>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>