body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 20px;
}

header h1 {
    margin: 0 0 30px;
}

hr {
    border: 0;
    height: 1px;
    background-color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    width : 100%; /*선의 길이를 부모 요소의 설정*/
    margin-left: 0; /*선을 중앙에 정렬*/  
}

main {
    position: relative; /* 상대 위치 설정 */
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h3 {
    position: absolute; /* 절대 위치 설정 */
    top: -50px; /* main 상단에서 40px 위 */
    left: 0; /* main 왼쪽에서 30px 떨어진 곳 */
    color: rgb(112, 112, 112);
    padding: 0 10px; /* 좌우 패딩 추가 */
}

.email-verification p {
    font-family: Western;
}

.email-verification h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


.enter-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}


.enter-group input {
    width: 250px; /* 입력란의 너비를 250px로 설정 */
    height: 25px;

    margin-right: 10px; /* 버튼과의 간격 */
    margin-left: 25%; /* 입력란의 시작 라인에 40px 여백 추가 */

    padding: 5px; /* 입력 필드 내부에 패딩을 줌 */
    border: 3px solid #ccc; /* 입력 필드의 테두리를 설정 */
    border-radius: 5px;
}


.form-group {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;

}

.form-group button {
    padding: 10px 15px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);

}

.form-group button:hover {
    background-color: #004299;
    box-shadow: 4px 8px 12px rgba(0,0,0,0.3);

}


