<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Email Verification - Fitness</title>
<link rel="stylesheet" href="style2.css">
</head>
<body>

<header>
    <h1>Fitness</h1>
    <hr>
</header>

<main>
    

    <h3>Create Account</h3>
    <section class="email-verification">
        <p>2/3 step</p>
        <h2>Email Verification</h2>

        <form id="email-verification-form">
            <div class="enter-group email-group">
                <input type="email" id="email" name="email" placeholder="Enter your email Address"  required>
                <button type="submit" id="send-code">Send Code</button>
            </div>
            <div class="enter-group code-group">
                <input type="text" id="verification-code" name="verification-code" placeholder ="Enter verification code" required>
                <button type="submit" id="verify">Verify</button>
            </div>
            <div class="form-group">
                <button type="submit" id="continue">Continue</button>
            </div>
        </form>
    </section>
</main>

</body>
</html>
